.page{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    z-index: 0;
    padding: 10vh 5vw 5vh 5vw;

}

.contentWrapper {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1000px;
    width: 100%;
    height: 100%;

}
.heading {
    font-family: 'Roboto', sans-serif;
    font-size: 3rem;
    font-weight: 800;
    z-index: 1;
    text-align: center;
    color: var(--black);
    margin-bottom: 2vh;
}

.datepicker {
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    border: 2px solid #333;
    padding: 1rem 1rem;
    outline: none;
    font-weight: 600;
}

.datepicker:focus{
    border: 2px solid var(--red);
}

@media (max-width: 479px){
    .page{
        padding-top: 15vh;
        padding-bottom: 5vh;
    }

    .heading{
        font-size: 10vw;
    }

    .datepicker{
        padding: 1rem 0rem 1rem 5px;
    }

}